<h1>ログイン</h1>
  <form action="/login" method="post">
    <input type="text" id="login-username">
    <input type="password" id="login-password">
    <button type="button" id="login-confirm">ログイン</button>
  </form>
  <a href="/signup">登録</a>
  <a href="/">トップへ</a>
  <script type="text/javascript" src="bundle.js"></script>
