<h1>ログイン</h1>
  <form action="/login" method="post">
    <input type="text" name="username">
    <button type="submit">ログイン</button>
  </form>
  <a href="/signup">登録</a>
  <a href="/">トップへ</a>
  <script type="text/javascript" src="bundle.js"></script>
