<h1><%= title %></h1>

<h2>結果</h2>
<table>
  <tr><th>候補</th><th>数</th></tr>
  <% result.each do |cand, n| %>
    <tr><th><%= cand %></th><th><%= n %></th></tr>
  <% end %>
</table>

<p>
  <a href="/">戻る</a>
</p>
