<h1>サインアップ</h1>
  <input type="text" id="username" name="username">
  <input type="password" id="password" name="username">
  <button type="button" id="submit">サインアップ</button>
  <a href="/login">ログイン</a>
  <a href="/">トップへ</a>
  <script type="text/javascript" src="bundle.js"></script>
